body{
    background-color: #41521F;
    height: 200vh;
    margin: 0;
    overflow-x: initial;
}

.nav {
    background-color: #0B5351;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: 40px;
    position: fixed;
    width: 100vw;
    padding: 5px;
}
.nav > * {
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
}
#content {
    margin-top: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #0B5351; 
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    border: solid #7c466f 3px;
    border-radius: 40px;

}

.box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: fit-content;
    background-color: #A9714B;
    border: solid #3B0D11 2px;
    border-radius: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
}